.politicians{
  /* border: solid green 4px; */
  height: 100px;
  width: 100px;
}


.App{
  display: flex;
  justify-content: center;
  /* border: solid purple 3px; */
  height: 100vh;
}
.app-container{
  /* border: solid yellow 2px; */
  width: 95%;
}

.title{
  color: #489DFF;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #F1F1F1;
  margin-bottom: 3px;
  /* font-size: 1px; */
}

.title-who{
  /* font-weight: 1px; */
  font-size: 30px;
  font-weight: bold;
}

.dropdown{
  background-color: #489DFF;
  /* border: solid black 1px; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-container{
  /* border: solid pink 2px; */
  height: 30px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button{
  background-color: #ccc;
  /* color: black;  */
  border-radius: 5px;
}

.results{
  /* border: solid black 1px; */
  /* height: 400px; */
  padding-bottom: 50px;
  /* background: pink; */
  display: flex;
  justify-content: space-between;
}

.results-left{
  /* background-color: green; */
  width: 47%;
  margin-top: 15px;
}

.results-left-header{
  /* border: solid black 1px; */
}

.column-left{
  /* border: solid green 1px; */
  width: 75%;
}

.column-right{
  /* border: solid green 1px; */
  width: 22%;
}

.results-left-title{
  background-color: #F8F8F9;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  color: #878889;
}

.results-right{
  /* background-color: dodgerblue; */
  width: 47%;
  margin-top: 15px;
}

.results-right-header{
  /* border: solid black 1px; */
  margin-bottom: 10px;
}

.politicians{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 90%;
  height: 40px;
  padding: 5px;
}

.politician-button{
  padding: 0;
border: none;
background: none;
outline: none;
}

.gray-result{
  background-color: #F8F8F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
  color: #878889;
}