.politicians {
  height: 100px;
  width: 100px;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.app-container {
  width: 95%;
}

.title {
  color: #489dff;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #f1f1f1;
  margin-bottom: 3px;
}

.title-who {
  font-size: 30px;
  font-weight: bold;
}

.dropdown {
  background-color: #489dff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  height: 30px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button {
  background-color: #ccc;
  border-radius: 5px;
}

.results {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.results-left {
  width: 47%;
  margin-top: 15px;
}

.column-left {
  width: 75%;
}

.column-right {
  width: 22%;
}

.results-left-title {
  background-color: #f8f8f9;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  color: #878889;
}

.results-right {
  width: 47%;
  margin-top: 15px;
}

.results-right-header {
  margin-bottom: 10px;
}

.politicians {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 40px;
  padding: 5px;
}

.politician-button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.gray-result {
  background-color: #f8f8f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
  color: #878889;
}
